extends layout

block content
  h1= title
  p Welcome to horizons 
  button(type="button", class="btn btn-dark" onclick ="doBump()") press me 
  div#bump Bump the count
  a(href="kansas") kansas.results
  script.  
    var count = 0
    var bump = 1
    function doBump() {
      count = count + bump 
      bump = bump + 1
      document.getElementById("bump").innerHTML = "Count "+ count +" Bump "+bump;
    }
